@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="images/lodder.jpg" />

    <h1 class="display-4">Velkommen!</h1>

    <p>
        Dette projekt er udarbejdet ifbm. eksamen på Zealand datamatikeruddannelsen. <br /> <br />
        Projektet er en prototype for FDF Vanløses årlige konkurrence for salg af lodsedler.<br />
    </p>
</div>
