@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/lodder.jpg" alt="Lotteri">
    <h1 class="display-4">Velkommen!</h1>
    <p>Dette projekt er udarbejdet ifbm. eksamen på Zealand datamatikeruddannelsen.</p>
    <p>kjhaskjdhaskjdhaskjdh kajshd kjashdkj ah dkjah dkjash</p>
</div>
